<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5jIG7v1UfT4M7D7bA7lyCjBbb08bahhE</string>
	<key>GCM_SENDER_ID</key>
	<string>432208958493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apple.InterfaceBuilder.IBCocoaTouchPlugin</string>
	<key>PROJECT_ID</key>
	<string>neatwear-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>neatwear-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432208958493:ios:e4fd8406696fc4184a22f4</string>
</dict>
</plist>